[Unit]
Description=Cloud CLI Runner
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env npx -y @cloud-cli/on
Restart=always
RestartSec=5
# Environment=RUNNER_CONFIG_PATH=
# Environment=RUNNER_DATABASE_URL=
# Environment=RUNNER_WORKFLOWS_PATH=
# Environment=PORT=
# Environment=RUNNER_WORKERS=
# Environment=RUNNER_SERVER_URL=http://runner-server:11235
# Environment=RUNNER_TAGS=linux,docker

[Install]
WantedBy=multi-user.target
