[Unit]
Description=On CI HTTP server
After=network-online.target
Wants=network-online.target
PartOf=runner.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/on
EnvironmentFile=-/etc/on/runner.env
LoadCredential=on-master-key:/etc/on/credentials/on-master-key
ExecStart=/usr/bin/on start-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
