[Unit]
Description=On CI workflow scheduler
After=network-online.target runner-server.service
Wants=network-online.target
PartOf=runner.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/on
EnvironmentFile=-/etc/on/scheduler.env
ExecStart=/usr/bin/on start-scheduler
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
